.box-content{
    width: 100%;
    height: 500px;
    background-color: #01ffb3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    
}
.box-content .box-content-left{
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    }
.box-content .box-content-left h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #454b52;
    }
.box-content .box-content-left p{
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
    }
.box-content .box-content-left a{
    /* display: inline-block; */
    width: 200px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    .box-content .box-content-left a:hover{
        background-color: #0056b3;
    }
.box-content .box-content-right{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;}
    .box-content .box-content-right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40% 30% 40% 20%;
            animation: borderRadiusAnimation 10s infinite alternate;
        }

        @keyframes borderRadiusAnimation {
            0% {
                border-radius: 40% 30% 40% 20%;
            }
            25% {
                border-radius: 30% 40% 30% 30%;
            }
            50% {
                border-radius: 50% 40% 50% 30%;
            }
            75% {
                border-radius: 40% 50% 40% 40%;
            }
            100% {
                border-radius: 40% 30% 40% 20%;
            }
        }
/* CSS for the box card */
.box-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS for the box card content */
.box-card-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for the box card content item */
.box-card-content-item {
    background-color: #01ffb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    min-height: 300px;
    margin: 10px;
}

/* CSS for the box card content item image */
.box-card-content-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* CSS for the box card content item title */
.box-card-content-item h3 {
    font-size: 18px;
    background-color: #fff;
    color: #454b52;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* CSS for the box card content item list */
.box-card-content-item ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

/* CSS for the box card content item list items */
.box-card-content-item ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}
